@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 40s linear infinite;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.clip-chevron {
  clip-path: polygon(0% 0%, calc(100% - 2rem) 0%, 100% 50%, calc(100% - 2rem) 100%, 0% 100%, 2rem 50%);
}
.clip-chevron-first {
  clip-path: polygon(0% 0%, calc(100% - 2rem) 0%, 100% 50%, calc(100% - 2rem) 100%, 0% 100%);
}
.clip-chevron-last {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 2rem 50%);
}
